@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.menu-open::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10000%;
  background-color: rgba(0, 0, 0, 0.6156862745);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.5625rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.menu-open .menu__body {
  right: 0;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.625rem 3.125rem 0.625rem 3.125rem;
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.625rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem );
       -moz-column-gap: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem );
            column-gap: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem ))) {
  .menu__list {
    -webkit-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.25);
       -moz-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.25);
            column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.25);
  }
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  font-size: 1rem;
}

.menu__arrow {
  margin-left: 0.125rem;
}

.menu__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.5rem;
  margin-left: 0.625rem;
}

.logo__image {
  width: 6.25rem;
  height: auto;
}

.contact__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  white-space: nowrap;
  font-size: 1.125rem;
}

.contact__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  white-space: nowrap;
  font-size: 1.125rem;
}

.menu__btn {
  position: relative;
}

.icon-menu {
  display: none;
}

.no-webp .main{
  background: url(../img/main-background.png) no-repeat center/cover; }

.main {
  height: 96vh;
}

.main__container {
  color: #fff;
}

.main__title {
  margin: 0 0 0 auto;
  width: 77%;
  text-transform: uppercase;
  padding-top: 7.5rem;
}

.main__big-text {
  font-weight: 700;
  letter-spacing: 0.15625rem;
}

@supports (font-size: clamp( 1.25rem , -0.2833333333rem  +  7.6666666667vw , 5.5625rem )) {
  .main__big-text {
    font-size: clamp( 1.25rem , -0.2833333333rem  +  7.6666666667vw , 5.5625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , -0.2833333333rem  +  7.6666666667vw , 5.5625rem )) {
  .main__big-text {
    font-size: calc(1.25rem + 4.3125 * (100vw - 20rem) / 56.25);
  }
}

.main__text {
  font-size: 1.3125rem;
  letter-spacing: 0.1875rem;
  font-weight: 300;
}

.info__title {
  text-transform: uppercase;
  padding-top: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.125rem;
  font-weight: 700;
}

@supports (font-size: clamp( 1.5625rem , 1.3625rem  +  1vw , 2.125rem )) {
  .info__title {
    font-size: clamp( 1.5625rem , 1.3625rem  +  1vw , 2.125rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.3625rem  +  1vw , 2.125rem )) {
  .info__title {
    font-size: calc(1.5625rem + 0.5625 * (100vw - 20rem) / 56.25);
  }
}

.info__list {
  padding-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__icon {
  width: 6.25rem;
  height: 6.25rem;
}

.item__icon img {
  width: 100%;
  height: 100%;
}

.item__title {
  text-align: center;
  margin-top: 1.125rem;
  font-weight: 700;
  font-size: 1.5rem;
  width: 16.25rem;
  line-height: 1.35;
}

.item__text {
  margin-top: 1.5625rem;
  text-align: center;
  width: 16.25rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.55;
}

.device {
  padding-bottom: 7.5rem;
}

@supports (padding-top: clamp( 6.25rem , 7.0972222222rem  +  -1.1111111111vw , 6.875rem )) {
  .device {
    padding-top: clamp( 6.25rem , 7.0972222222rem  +  -1.1111111111vw , 6.875rem );
  }
}

@supports not (padding-top: clamp( 6.25rem , 7.0972222222rem  +  -1.1111111111vw , 6.875rem )) {
  .device {
    padding-top: calc(6.875rem + -0.625 * (100vw - 20rem) / 56.25);
  }
}

.device__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.1875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.device__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.device__family {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

.block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  text-transform: uppercase;
  line-height: 2.6875rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  font-size: 1.75rem;
}

.block__size {
  padding-left: 3.125rem;
}

.block__image {
  position: absolute;
  left: 46%;
  width: 12.5rem;
  height: 15.3125rem;
}

.block__image img {
  width: 100%;
  height: 100%;
}

.block__image-two {
  position: absolute;
  right: 44%;
  width: 12.5rem;
  height: 15.3125rem;
}

.block__image-two img {
  width: 100%;
  height: 100%;
}

.family__img {
  margin: 0rem 0.9375rem 0rem 0.9375rem;
  width: 17.5rem;
  height: 15.625rem;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.form__title {
  text-transform: uppercase;
  font-weight: 700;
}

@supports (font-size: clamp( 1.5625rem , 1.3625rem  +  1vw , 2.125rem )) {
  .form__title {
    font-size: clamp( 1.5625rem , 1.3625rem  +  1vw , 2.125rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.3625rem  +  1vw , 2.125rem )) {
  .form__title {
    font-size: calc(1.5625rem + 0.5625 * (100vw - 20rem) / 56.25);
  }
}

.form__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
  padding-top: 0.9375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input {
  border-bottom: 0.125rem solid #eb868c;
  padding-bottom: 0.9375rem;
  outline: none;
  width: 18.75rem;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.125rem solid #eb868c;
  padding: 0.9375rem 0rem 0.9375rem 0rem;
  width: 18.75rem;
  border-radius: 1.875rem;
  color: #eb868c;
  font-size: 1rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__police {
  width: 85%;
  font-weight: 400;
  line-height: 1.55;
  font-size: 0.9375rem;
  color: rgb(194, 194, 194);
}

.form__link {
  font-weight: 700;
}

@supports (margin-top: clamp( 3.125rem , 2.0138888889rem  +  5.5555555556vw , 6.25rem )) {
  .product {
    margin-top: clamp( 3.125rem , 2.0138888889rem  +  5.5555555556vw , 6.25rem );
  }
}

@supports not (margin-top: clamp( 3.125rem , 2.0138888889rem  +  5.5555555556vw , 6.25rem )) {
  .product {
    margin-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.25);
  }
}

.item-product__title {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.item-product__leep {
  font-size: 1.125rem;
  font-weight: 300;
  width: 10.875rem;
  font-weight: 300;
  text-align: center;
}

.item-product__text {
  font-size: 1.125rem;
  font-weight: 300;
  width: 10.875rem;
  font-weight: 700;
  text-align: center;
}

.item-product__block {
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem;
}

@supports (width: clamp( 18.75rem , 9.8611111111rem  +  44.4444444444vw , 43.75rem )) {
  .item-product__image {
    width: clamp( 18.75rem , 9.8611111111rem  +  44.4444444444vw , 43.75rem );
  }
}

@supports not (width: clamp( 18.75rem , 9.8611111111rem  +  44.4444444444vw , 43.75rem )) {
  .item-product__image {
    width: calc(18.75rem + 25 * (100vw - 20rem) / 56.25);
  }
}

.item-product__image img {
  width: 100%;
}

.item-product__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 72%;
}

.item-product__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  width: 2.3125rem;
  height: 1.875rem;
}

.item-product__line {
  height: 0.125rem;
  background-color: #e6e6e6;
}

@supports (width: clamp( 0.0000000625rem , -4.4444443597rem  +  22.2222221111vw , 12.5rem )) {
  .item-product__line {
    width: clamp( 0.0000000625rem , -4.4444443597rem  +  22.2222221111vw , 12.5rem );
  }
}

@supports not (width: clamp( 0.0000000625rem , -4.4444443597rem  +  22.2222221111vw , 12.5rem )) {
  .item-product__line {
    width: calc(0.0000000625rem + 12.4999999375 * (100vw - 20rem) / 56.25);
  }
}

.item-product__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.875rem auto;
}

.item-product__main {
  font-size: 1.125rem;
  font-weight: 300;
  width: 27.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.number-product__one {
  background-color: #eb868c;
  border-radius: 50%;
}

.number-product__two {
  background-color: #c58ccc;
  border-radius: 50%;
}

.number-product__three {
  background-color: #ac90f7;
  border-radius: 50%;
}

.product__content {
  padding-top: 3.125rem;
}

.content-product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.25rem;
}

.content-product__image {
  height: auto;
}

@supports (width: clamp( 17.5rem , 8.1666666667rem  +  46.6666666667vw , 43.75rem )) {
  .content-product__image {
    width: clamp( 17.5rem , 8.1666666667rem  +  46.6666666667vw , 43.75rem );
  }
}

@supports not (width: clamp( 17.5rem , 8.1666666667rem  +  46.6666666667vw , 43.75rem )) {
  .content-product__image {
    width: calc(17.5rem + 26.25 * (100vw - 20rem) / 56.25);
  }
}

.content-product__image img {
  width: 100%;
}

.content-product__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.product-block__text {
  margin-top: 1.25rem;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.55;
}

.product-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.25rem;
  gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-block__image {
  width: 8.5rem;
}

.phone-content {
  padding-top: 3.125rem;
}

.phone-content__images {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (width: clamp( 17.5rem , 16.1444444444rem  +  6.7777777778vw , 21.3125rem )) {
  .phone-content__img {
    width: clamp( 17.5rem , 16.1444444444rem  +  6.7777777778vw , 21.3125rem );
  }
}

@supports not (width: clamp( 17.5rem , 16.1444444444rem  +  6.7777777778vw , 21.3125rem )) {
  .phone-content__img {
    width: calc(17.5rem + 3.8125 * (100vw - 20rem) / 56.25);
  }
}

.phone-content__img img {
  width: 100%;
}

.phone-content__text {
  font-size: 1.125rem;
  color: #362020;
  font-weight: 300;
  text-align: center;
  margin: 1.875rem auto 0rem;
  line-height: 1.55;
}

@supports (width: clamp( 17.5rem , 5.2777777778rem  +  61.1111111111vw , 51.875rem )) {
  .phone-content__text {
    width: clamp( 17.5rem , 5.2777777778rem  +  61.1111111111vw , 51.875rem );
  }
}

@supports not (width: clamp( 17.5rem , 5.2777777778rem  +  61.1111111111vw , 51.875rem )) {
  .phone-content__text {
    width: calc(17.5rem + 34.375 * (100vw - 20rem) / 56.25);
  }
}

.phone-content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.25rem;
}

.phone-content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 14rem;
  margin-top: 6.25rem;
}

.phone-content__photo {
  height: auto;
}

@supports (width: clamp( 17.5rem , 10.3888888889rem  +  35.5555555556vw , 37.5rem )) {
  .phone-content__photo {
    width: clamp( 17.5rem , 10.3888888889rem  +  35.5555555556vw , 37.5rem );
  }
}

@supports not (width: clamp( 17.5rem , 10.3888888889rem  +  35.5555555556vw , 37.5rem )) {
  .phone-content__photo {
    width: calc(17.5rem + 20 * (100vw - 20rem) / 56.25);
  }
}

.phone-content__photo img {
  width: 100%;
}

.phone-content .block-content__img {
  width: 5rem;
  height: 5rem;
}

.phone-content .block-content__img img {
  width: 100%;
  height: 100%;
}

.phone-content .block-content__title {
  margin-top: 1.25rem;
  color: #362020;
  font-size: 1.125rem;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
}

.phone-content .block-content__text {
  color: #362020;
  margin-top: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.55;
  font-weight: 300;
  text-align: center;
}

.download-app__list {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.download-app__item {
  width: 12.1875rem;
}

.pc-content {
  margin-top: 4.375rem;
}

.pc-content__list {
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.pc-content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.pc-content__text {
  color: #362020;
  font-size: 1.125rem;
}

.pc-content__link {
  color: #362020;
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 0.625rem;
}

.pc-content__button {
  margin-top: 1.25rem;
  width: 12.5rem;
  height: 3.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eb868c;
  color: #fff;
  border-radius: 1.875rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 700;
}

@supports (width: clamp( 17.5rem , 9.2777777778rem  +  41.1111111111vw , 40.625rem )) {
  .list-pc__image {
    width: clamp( 17.5rem , 9.2777777778rem  +  41.1111111111vw , 40.625rem );
  }
}

@supports not (width: clamp( 17.5rem , 9.2777777778rem  +  41.1111111111vw , 40.625rem )) {
  .list-pc__image {
    width: calc(17.5rem + 23.125 * (100vw - 20rem) / 56.25);
  }
}

@supports (margin-top: clamp( 3.125rem , 2.0138888889rem  +  5.5555555556vw , 6.25rem )) {
  .movie {
    margin-top: clamp( 3.125rem , 2.0138888889rem  +  5.5555555556vw , 6.25rem );
  }
}

@supports not (margin-top: clamp( 3.125rem , 2.0138888889rem  +  5.5555555556vw , 6.25rem )) {
  .movie {
    margin-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.25);
  }
}

.movie__title {
  font-weight: 700;
  text-align: center;
}

@supports (font-size: clamp( 1.4375rem , 1.1930555556rem  +  1.2222222222vw , 2.125rem )) {
  .movie__title {
    font-size: clamp( 1.4375rem , 1.1930555556rem  +  1.2222222222vw , 2.125rem );
  }
}

@supports not (font-size: clamp( 1.4375rem , 1.1930555556rem  +  1.2222222222vw , 2.125rem )) {
  .movie__title {
    font-size: calc(1.4375rem + 0.6875 * (100vw - 20rem) / 56.25);
  }
}

.movie__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (margin-top: clamp( 1.875rem , 1.2083333333rem  +  3.3333333333vw , 3.75rem )) {
  .movie__list {
    margin-top: clamp( 1.875rem , 1.2083333333rem  +  3.3333333333vw , 3.75rem );
  }
}

@supports not (margin-top: clamp( 1.875rem , 1.2083333333rem  +  3.3333333333vw , 3.75rem )) {
  .movie__list {
    margin-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 56.25);
  }
}

@supports (width: clamp( 17.5rem , 15.6555555556rem  +  9.2222222222vw , 22.6875rem )) {
  .movie__item {
    width: clamp( 17.5rem , 15.6555555556rem  +  9.2222222222vw , 22.6875rem );
  }
}

@supports not (width: clamp( 17.5rem , 15.6555555556rem  +  9.2222222222vw , 22.6875rem )) {
  .movie__item {
    width: calc(17.5rem + 5.1875 * (100vw - 20rem) / 56.25);
  }
}

@supports (height: clamp( 16.875rem , 15.8305555556rem  +  5.2222222222vw , 19.8125rem )) {
  .movie__item {
    height: clamp( 16.875rem , 15.8305555556rem  +  5.2222222222vw , 19.8125rem );
  }
}

@supports not (height: clamp( 16.875rem , 15.8305555556rem  +  5.2222222222vw , 19.8125rem )) {
  .movie__item {
    height: calc(16.875rem + 2.9375 * (100vw - 20rem) / 56.25);
  }
}

.movie__iframe {
  height: 13.5625rem;
}

@supports (width: clamp( 17.5rem , 15.6555555556rem  +  9.2222222222vw , 22.6875rem )) {
  .movie__iframe {
    width: clamp( 17.5rem , 15.6555555556rem  +  9.2222222222vw , 22.6875rem );
  }
}

@supports not (width: clamp( 17.5rem , 15.6555555556rem  +  9.2222222222vw , 22.6875rem )) {
  .movie__iframe {
    width: calc(17.5rem + 5.1875 * (100vw - 20rem) / 56.25);
  }
}

.movie__text {
  margin-top: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.55;
  font-weight: 700;
  color: #362020;
}

@supports (padding-top: clamp( 1.875rem , 0.7638888889rem  +  5.5555555556vw , 5rem )) {
  .tabs-content {
    padding-top: clamp( 1.875rem , 0.7638888889rem  +  5.5555555556vw , 5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.7638888889rem  +  5.5555555556vw , 5rem )) {
  .tabs-content {
    padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 56.25);
  }
}

.tabs-content__title {
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.5625rem , 1.3625rem  +  1vw , 2.125rem )) {
  .tabs-content__title {
    font-size: clamp( 1.5625rem , 1.3625rem  +  1vw , 2.125rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.3625rem  +  1vw , 2.125rem )) {
  .tabs-content__title {
    font-size: calc(1.5625rem + 0.5625 * (100vw - 20rem) / 56.25);
  }
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@supports (padding-top: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem )) {
  .tabs__navigation {
    padding-top: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem )) {
  .tabs__navigation {
    padding-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.25);
  }
}

.tabs__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #6b6b6b;
  color: #6b6b6b;
  cursor: pointer;
  position: relative;
}

@supports (padding-top: clamp( 0.5rem , 0.3666666667rem  +  0.6666666667vw , 0.875rem )) {
  .tabs__title {
    padding-top: clamp( 0.5rem , 0.3666666667rem  +  0.6666666667vw , 0.875rem );
  }
}

@supports not (padding-top: clamp( 0.5rem , 0.3666666667rem  +  0.6666666667vw , 0.875rem )) {
  .tabs__title {
    padding-top: calc(0.5rem + 0.375 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-bottom: clamp( 0.5rem , 0.3666666667rem  +  0.6666666667vw , 0.875rem )) {
  .tabs__title {
    padding-bottom: clamp( 0.5rem , 0.3666666667rem  +  0.6666666667vw , 0.875rem );
  }
}

@supports not (padding-bottom: clamp( 0.5rem , 0.3666666667rem  +  0.6666666667vw , 0.875rem )) {
  .tabs__title {
    padding-bottom: calc(0.5rem + 0.375 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-left: clamp( 0.625rem , 0.3583333333rem  +  1.3333333333vw , 1.375rem )) {
  .tabs__title {
    padding-left: clamp( 0.625rem , 0.3583333333rem  +  1.3333333333vw , 1.375rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , 0.3583333333rem  +  1.3333333333vw , 1.375rem )) {
  .tabs__title {
    padding-left: calc(0.625rem + 0.75 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-right: clamp( 0.625rem , 0.3583333333rem  +  1.3333333333vw , 1.375rem )) {
  .tabs__title {
    padding-right: clamp( 0.625rem , 0.3583333333rem  +  1.3333333333vw , 1.375rem );
  }
}

@supports not (padding-right: clamp( 0.625rem , 0.3583333333rem  +  1.3333333333vw , 1.375rem )) {
  .tabs__title {
    padding-right: calc(0.625rem + 0.75 * (100vw - 20rem) / 56.25);
  }
}

.tabs__heading {
  font-size: 0.875rem;
  font-weight: 400;
}

.tabs__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 0.625rem;
}

.tabs__num {
  font-weight: 600;
  font-size: 5.75rem;
}

.tabs__text {
  font-size: 0.8125rem;
}

@supports (margin-top: clamp( 1.875rem , 1.2083333333rem  +  3.3333333333vw , 3.75rem )) {
  .tabs__content {
    margin-top: clamp( 1.875rem , 1.2083333333rem  +  3.3333333333vw , 3.75rem );
  }
}

@supports not (margin-top: clamp( 1.875rem , 1.2083333333rem  +  3.3333333333vw , 3.75rem )) {
  .tabs__content {
    margin-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 56.25);
  }
}

._tab-active {
  background-color: #6b6b6b;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._active-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body__title {
  color: #000000;
  font-size: 1.125rem;
  font-weight: 500;
}

.body__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.875rem;
}

@supports (gap: clamp( 0.3125rem , -0.2430555556rem  +  2.7777777778vw , 1.875rem )) {
  .body__list {
    gap: clamp( 0.3125rem , -0.2430555556rem  +  2.7777777778vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.3125rem , -0.2430555556rem  +  2.7777777778vw , 1.875rem )) {
  .body__list {
    gap: calc(0.3125rem + 1.5625 * (100vw - 20rem) / 56.25);
  }
}

.item-content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.item-content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (width: clamp( 3.125rem , -1.4972222222rem  +  23.1111111111vw , 16.125rem )) {
  .item-content__block {
    width: clamp( 3.125rem , -1.4972222222rem  +  23.1111111111vw , 16.125rem );
  }
}

@supports not (width: clamp( 3.125rem , -1.4972222222rem  +  23.1111111111vw , 16.125rem )) {
  .item-content__block {
    width: calc(3.125rem + 13 * (100vw - 20rem) / 56.25);
  }
}

.item-content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  color: #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
  padding-bottom: 0.3125rem;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
}

@supports (font-size: clamp( 0.9375rem , 0.8708333333rem  +  0.3333333333vw , 1.125rem )) {
  .item-content__title {
    font-size: clamp( 0.9375rem , 0.8708333333rem  +  0.3333333333vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8708333333rem  +  0.3333333333vw , 1.125rem )) {
  .item-content__title {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 56.25);
  }
}

.item-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.item-content__bold {
  font-weight: 500;
}

.item-content__link {
  font-size: 16px;
  font-weight: 300;
}

.item-content__span {
  font-weight: 700;
}

@supports (padding-top: clamp( 1.875rem , 0.7638888889rem  +  5.5555555556vw , 5rem )) {
  .top {
    padding-top: clamp( 1.875rem , 0.7638888889rem  +  5.5555555556vw , 5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.7638888889rem  +  5.5555555556vw , 5rem )) {
  .top {
    padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 56.25);
  }
}

.top__title {
  font-weight: 700;
  text-align: center;
  line-height: 1.17;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.5625rem , 1.3625rem  +  1vw , 2.125rem )) {
  .top__title {
    font-size: clamp( 1.5625rem , 1.3625rem  +  1vw , 2.125rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.3625rem  +  1vw , 2.125rem )) {
  .top__title {
    font-size: calc(1.5625rem + 0.5625 * (100vw - 20rem) / 56.25);
  }
}

.top__heading {
  margin-top: 1.25rem;
  text-align: center;
}

@supports (font-size: clamp( 1.125rem , 1.0361111111rem  +  0.4444444444vw , 1.375rem )) {
  .top__heading {
    font-size: clamp( 1.125rem , 1.0361111111rem  +  0.4444444444vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0361111111rem  +  0.4444444444vw , 1.375rem )) {
  .top__heading {
    font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 56.25);
  }
}

.top__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
  margin-top: 1.875rem;
}

.top__info {
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 400;
}

@supports (margin-top: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 3.75rem )) {
  .top__info {
    margin-top: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 3.75rem );
  }
}

@supports not (margin-top: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 3.75rem )) {
  .top__info {
    margin-top: calc(1.25rem + 2.5 * (100vw - 20rem) / 56.25);
  }
}

.no-webp .item-top__block{
  background: url(../img/img1.png) no-repeat center/cover; }

.item-top__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@supports (width: clamp( 12.5rem , 4.5rem  +  40vw , 35rem )) {
  .item-top__block {
    width: clamp( 12.5rem , 4.5rem  +  40vw , 35rem );
  }
}

@supports not (width: clamp( 12.5rem , 4.5rem  +  40vw , 35rem )) {
  .item-top__block {
    width: calc(12.5rem + 22.5 * (100vw - 20rem) / 56.25);
  }
}

@supports (height: clamp( 9.375rem , 8.2638888889rem  +  5.5555555556vw , 12.5rem )) {
  .item-top__block {
    height: clamp( 9.375rem , 8.2638888889rem  +  5.5555555556vw , 12.5rem );
  }
}

@supports not (height: clamp( 9.375rem , 8.2638888889rem  +  5.5555555556vw , 12.5rem )) {
  .item-top__block {
    height: calc(9.375rem + 3.125 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-top: clamp( 0.9375rem , 0.1597222222rem  +  3.8888888889vw , 3.125rem )) {
  .item-top__block {
    padding-top: clamp( 0.9375rem , 0.1597222222rem  +  3.8888888889vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.1597222222rem  +  3.8888888889vw , 3.125rem )) {
  .item-top__block {
    padding-top: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.1597222222rem  +  3.8888888889vw , 3.125rem )) {
  .item-top__block {
    padding-bottom: clamp( 0.9375rem , 0.1597222222rem  +  3.8888888889vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.1597222222rem  +  3.8888888889vw , 3.125rem )) {
  .item-top__block {
    padding-bottom: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 56.25);
  }
}

.no-webp .item-top__block-two{
  background: url(../img/img2.png) no-repeat center/cover; }

.item-top__heading {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.23;
}

@supports (font-size: clamp( 1.125rem , 0.9472222222rem  +  0.8888888889vw , 1.625rem )) {
  .item-top__heading {
    font-size: clamp( 1.125rem , 0.9472222222rem  +  0.8888888889vw , 1.625rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9472222222rem  +  0.8888888889vw , 1.625rem )) {
  .item-top__heading {
    font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 56.25);
  }
}

.item-top__text {
  line-height: 1.35;
  font-weight: 300;
}

@supports (margin-top: clamp( 0.3125rem , 0.2013888889rem  +  0.5555555556vw , 0.625rem )) {
  .item-top__text {
    margin-top: clamp( 0.3125rem , 0.2013888889rem  +  0.5555555556vw , 0.625rem );
  }
}

@supports not (margin-top: clamp( 0.3125rem , 0.2013888889rem  +  0.5555555556vw , 0.625rem )) {
  .item-top__text {
    margin-top: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 56.25);
  }
}

@supports (font-size: clamp( 0.9375rem , 0.8263888889rem  +  0.5555555556vw , 1.25rem )) {
  .item-top__text {
    font-size: clamp( 0.9375rem , 0.8263888889rem  +  0.5555555556vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8263888889rem  +  0.5555555556vw , 1.25rem )) {
  .item-top__text {
    font-size: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 56.25);
  }
}

.item-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0rem 1.25rem;
}

@supports (margin-top: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 1.875rem )) {
  .item-top__list {
    margin-top: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 1.875rem );
  }
}

@supports not (margin-top: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 1.875rem )) {
  .item-top__list {
    margin-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 56.25);
  }
}

.list-top__item {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.55;
}

.no-webp .form-two{
  background: url(../img/bg-form.png) no-repeat center/cover; }

@supports (margin-top: clamp( 3.125rem , 2.0138888889rem  +  5.5555555556vw , 6.25rem )) {
  .form-two {
    margin-top: clamp( 3.125rem , 2.0138888889rem  +  5.5555555556vw , 6.25rem );
  }
}

@supports not (margin-top: clamp( 3.125rem , 2.0138888889rem  +  5.5555555556vw , 6.25rem )) {
  .form-two {
    margin-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.25);
  }
}

.form-two__container {
  color: #fff;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (padding-top: clamp( 2.5rem , 0.0555555556rem  +  12.2222222222vw , 9.375rem )) {
  .form-two__container {
    padding-top: clamp( 2.5rem , 0.0555555556rem  +  12.2222222222vw , 9.375rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.0555555556rem  +  12.2222222222vw , 9.375rem )) {
  .form-two__container {
    padding-top: calc(2.5rem + 6.875 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 0.0555555556rem  +  12.2222222222vw , 9.375rem )) {
  .form-two__container {
    padding-bottom: clamp( 2.5rem , 0.0555555556rem  +  12.2222222222vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.0555555556rem  +  12.2222222222vw , 9.375rem )) {
  .form-two__container {
    padding-bottom: calc(2.5rem + 6.875 * (100vw - 20rem) / 56.25);
  }
}

.form-two__title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.5625rem , 1.3180555556rem  +  1.2222222222vw , 2.25rem )) {
  .form-two__title {
    font-size: clamp( 1.5625rem , 1.3180555556rem  +  1.2222222222vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.3180555556rem  +  1.2222222222vw , 2.25rem )) {
  .form-two__title {
    font-size: calc(1.5625rem + 0.6875 * (100vw - 20rem) / 56.25);
  }
}

.form-two__heading {
  margin-top: 1.875rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}

.form-two__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

@supports (margin-top: clamp( 1.875rem , 0.7638888889rem  +  5.5555555556vw , 5rem )) {
  .form-two__form {
    margin-top: clamp( 1.875rem , 0.7638888889rem  +  5.5555555556vw , 5rem );
  }
}

@supports not (margin-top: clamp( 1.875rem , 0.7638888889rem  +  5.5555555556vw , 5rem )) {
  .form-two__form {
    margin-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 56.25);
  }
}

.form-two__input {
  background-color: transparent;
  border-bottom: 0.0625rem solid #fff;
  color: #fff;
  outline: none;
}

.form-two__input::-webkit-input-placeholder {
  color: #fff;
}

.form-two__input::-moz-placeholder {
  color: #fff;
}

.form-two__input:-ms-input-placeholder {
  color: #fff;
}

.form-two__input::-ms-input-placeholder {
  color: #fff;
}

.form-two__input::placeholder {
  color: #fff;
}

.form-two__button {
  width: 14.5rem;
  height: 3.5rem;
  background-color: #ffffff;
  border-radius: 1.875rem;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
}

.form-two__police {
  margin-top: 0.9375rem;
  font-size: 0.9375rem;
  font-weight: 300;
  width: 80%;
  line-height: 1.55;
}

.form-two__link {
  font-weight: 500;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 3.125rem 1.25rem 3.125rem;
  gap: 0.625rem;
}

.footer__logo {
  width: 6.25rem;
  height: 4.25rem;
}

.footer__image {
  width: 100%;
  height: 100%;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem ))) {
  .footer__list {
    -webkit-column-gap: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem );
       -moz-column-gap: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem );
            column-gap: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.6041666667rem  +  1.6666666667vw , 1.875rem ))) {
  .footer__list {
    -webkit-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.25);
       -moz-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.25);
            column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.25);
  }
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  font-size: 1rem;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.3125rem;
  text-align: right;
}

.footer__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  white-space: nowrap;
  font-size: 1.125rem;
}

.footer__emal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  white-space: nowrap;
  font-size: 1.125rem;
}

@media (max-width: 75em) {
  .movie__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .movie__iframe {
    height: auto;
  }
}

@media (max-width: 25em) {
  .device__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .form__button {
    width: 17.5rem;
  }
}

@media (max-width: 62.5em) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 0 0 auto;
    z-index: 9999;
  }

  .menu__body {
    background-color: #fff;
    padding-top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
    height: 100vh;
    position: fixed;
    right: -9999px;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: scroll;
  }

  .menu__list {
    margin-top: 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
  }

  .menu__contact {
    margin-top: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 0rem;
  }

  .logo__image {
    width: 12.5rem;
  }

  .main__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    width: 100%;
  }

  .form__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__input {
    width: 80%;
  }

  .form__police {
    width: 80%;
    margin: auto;
  }

  .item-product__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-product__line {
    width: 37%;
  }

  .item-product__info {
    width: 94%;
  }

  .content-product__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-product__block {
    width: 50%;
  }

  .product-block__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0.625rem;
  }

  .phone-content__images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.875rem;
  }

  .phone-content__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
  }

  .phone-content__block {
    margin-top: 0rem;
  }

  .pc-content__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tabs__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tabs__title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.3125rem;
    font-size: 0.875rem;
    width: 100%;
    display: none;
  }

  .tabs__heading {
    font-size: 0.875rem;
  }

  .tabs__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.3125rem;
    margin-top: 0rem;
  }

  .tabs__num {
    font-size: 0.875rem;
    font-weight: 300;
  }

  .tabs__content {
    margin-top: 0.625rem;
  }

  ._tab-active::after {
    content: "→";
    position: absolute;
    right: 20px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    font-size: 0.75rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .body__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-content__block {
    width: 16.125rem;
  }

  .top__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

@supports (width: clamp( 17.5rem , 11.2777777778rem  +  31.1111111111vw , 35rem )) {
    .item-top__block {
      width: clamp( 17.5rem , 11.2777777778rem  +  31.1111111111vw , 35rem );
    }
}

@supports not (width: clamp( 17.5rem , 11.2777777778rem  +  31.1111111111vw , 35rem )) {
    .item-top__block {
      width: calc(17.5rem + 17.5 * (100vw - 20rem) / 56.25);
    }
}

  .form-two__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }

  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
  }

  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 62.5rem) {
  .icon-menu {
    display: block;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #eb868c;
    width: 2.5rem;
    height: 2.5rem;
    right: 1.25rem;
    top: 1.25rem;
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    width: 1.875rem;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0.75rem;
  }

  .icon-menu::after {
    bottom: 0.75rem;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 56.25em) {
  .device__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block__size {
    padding-left: 1.875rem;
  }

  .block__image {
    width: 9.375rem;
    height: 12.5rem;
    left: 48%;
  }

  .block__image-two {
    width: 9.375rem;
    height: 12.5rem;
    right: 51%;
  }

  .family__img {
    height: 14.375rem;
  }

  .family__text {
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 46.875em) {
  .item-product__text {
    width: 100%;
    text-align: left;
  }

  .item-product__block {
    gap: 1.25rem;
  }

  .item-product__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: -7.5rem;
  }

  .item-product__num {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: 6.25rem;
    margin: 0;
    width: auto;
  }

  .item-product__number {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .item-product__line {
    width: 6.25rem;
  }

  .item-product__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 6.875rem;
    margin-left: -6.25rem;
  }

  .item-product__main {
    width: 100%;
  }

  .content-product__block {
    width: 90%;
  }
}

@media (max-width: 43.75em) {
  .form__input {
    width: 100%;
  }
}

@media (max-width: 36.125em) {
  .tabs-content__title {
    text-align: left;
  }

  .body__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 34.3125em) {
  .info__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 1.875rem;
  }
}

@media (max-width: 28.125em) {
  .download-app__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #eb868c;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .form__button:hover {
    background-color: #ac90f7;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #fff;
    border: 2px solid #ac90f7;
  }

  .pc-content__button:hover {
    border: 1px solid #eb868c;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: transparent;
    color: #000;
  }

  .form-two__button:hover {
    background-color: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: 1px solid #ffffff;
    color: #fff;
  }

  .footer__link:hover {
    color: #eb868c;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.webp .main{ background: url(../img/main-background.webp) no-repeat center/cover; }

.webp .item-top__block{ background: url(../img/img1.webp) no-repeat center/cover; }

.webp .item-top__block-two{ background: url(../img/img2.webp) no-repeat center/cover; }

.webp .form-two{ background: url(../img/bg-form.webp) no-repeat center/cover; }